.nav {
  display: flex;
  width: 100%;
  border-width: 0;
  border-style: solid;
  border-color: #0002;
}

.nav.pocket {
  background-color: #81bda3;
  border-top-width: 1px;
  flex-direction: row;
}

.nav:not(.pocket) {
  background-color: #ddd;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px;
}

.nav.dark {
  background-color: #444;
}