.nav-container {
  height: 100%;
}

.nav-container>a {
  margin: 0 10px;
  text-decoration: none;
  color: #eee;
  transition: 
  color 300ms,
  text-shadow 300ms;
}

.nav-container>a:hover {
  color: #fff;
  text-shadow: 0 0 2px #fff;
}