.search-bar {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  height: 60%;
}

.search-bar-input {
  flex: 8;
  background-color: #ddd;
  font-size: 20px;
  text-indent: 10px;
  border-style: none;
  outline: none;
}

.search-bar-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 100ms;
  cursor: pointer;
  background-color: #3860ce;
}

.search-bar-btn:hover {
  background-color: #1f419e;
}