.category-container {
  width: 200px;
  min-height: 200px;
  margin: 0 20px;
  display: flex;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  overflow: hidden;
  border-width: 1px;
  background-color: #e1e1e1;
  color: #fff;
  border-color: #0002;
  border-style: solid;
  border-radius: 20px;
  transition:
    transform 400ms,
    box-shadow 400ms;
}

.category-container>div:first-child {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.category-container:hover {
  transform: scale(1.03);
  box-shadow: -2px 2px 8px #0004;
}

.category-container-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
}

.category-container-content>* {
  margin: 0;
  text-align: center;
  user-select: none;
}

.category-container-img {
  background-size: cover;
  object-fit: cover;
  border-radius: 20px;
  width: inherit;
  height: inherit;
  user-select: none;
  -webkit-user-drag: none;
}