.header-body {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 2px 10px #0006;
}

.header-body>section {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-items: center;
  align-items: center;
}

.header-body>section>h2 {
  margin: 0;
}

.header-body>section>.cart {
  display: flex;
  align-items: center;
  height: 40px;
}

.header-body>section>.cart>p {
  text-align: center;
  margin: 0;
  padding-left: 5px;
}

.header-options,
.header-options * {
  cursor: default;
}

.header-options a {
  text-decoration: none;
  color: #000;
}

.option-text {
  font-size: 14px;
  text-overflow: ellipsis;
  margin: 5px 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #0002;
  white-space: nowrap;
  transition: transform 200ms;
  cursor: pointer;
}

.option-text:hover {
  transform: scale(1.03);
}

.header-options-title {
  cursor: pointer;
}