@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@media only screen and (hover: none) {
  * {
    cursor: default;
  }
}

* {
  transition:
    background-color 600ms,
    transform 200ms;
}

body {
  margin: 0;
  font-family: 'Fira Code';
}